.home-hero {
  background: url("../../../assets/home/hero-bg.jpg"),
    linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-blend-mode: overlay;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
